:root {
    --video-per-row: videoPerRow;
    --color1: #3ea6ff;
    --like-lime: #00FF00;
    --dislike-red: #FF0000;
}

html[dark] {
    --yt-spec-general-background-a: #181818;
    --yt-spec-general-background-b: #0f0f0f;
    --yt-spec-brand-background-primary: rgba(33, 33, 33, 0.98);
    --yt-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
}

html:not([dark]) {
    --yt-spec-general-background-a: #f9f9f9;
    --yt-spec-general-background-b: #f1f1f1;
    --yt-spec-brand-background-primary: rgba(255, 255, 255, 0.98);
    --yt-spec-10-percent-layer: rgba(0, 0, 0, 0.1);
}

/* Variables */
i=!important;
t=transparent;